.logBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--textFont);
}

.logBar textarea {
    box-sizing: border-box;
    resize: none;
    height: 110px;
    width: 80%;
    letter-spacing: 1px;
    outline: 0;
    border: none;
    padding: 10px;
    margin-bottom: 38px;
}

.logBar button{
    background-color: var(--secondaryColor);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: var(--tertiaryColor);
    display: flex;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 95%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.logBar button:focus {
  outline: 0;
}

.logBar button:after {
  content: '';
  position: absolute;
  border: 1px solid var(--tertiaryColor);
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.logBar button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
    .logBar button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}